---
import { client } from "../utils/sanity-client";
import { PortableText } from "astro-portabletext";
import Layout from "../layouts/Layout.astro";

const aboutNathanPage = await client.fetch(
  `*[_type == "aboutNathanPage"][0]`
);

const title = aboutNathanPage?.title ?? "About Nathan";
const intro = aboutNathanPage?.intro ?? "";
const body = aboutNathanPage?.body ?? [];
---

<Layout title={title}>

<h1>{title}</h1>

{intro && (
  <p>{intro}</p>
)}

{body.length > 0 && (
  <PortableText value={body} />
)}

</Layout>