---
import { client } from "../utils/sanity-client";
import Layout from "../layouts/Layout.astro";
import PortableTextContent from "../components/PortableTextContent.astro";

const coachingPage = await client.fetch(
  `*[_type == "coachingPage"][0]`
);

const title = coachingPage?.title ?? "Coaching";
const intro = coachingPage?.intro ?? "";
const body = coachingPage?.body ?? [];
---

<Layout title={title}>

{intro && (
  <p class="section-intro">{intro}</p>
)}

{body.length > 0 && (
  <PortableTextContent value={body} />
)}

</Layout>
