---
import { client } from "../utils/sanity-client";
import { PortableText } from "astro-portabletext";
import Layout from "../layouts/Layout.astro";

const coachingPage = await client.fetch(
  `*[_type == "coachingPage"][0]`
);

const title = coachingPage?.title ?? "Coaching";
const intro = coachingPage?.intro ?? "";
const body = coachingPage?.body ?? [];
---

<Layout title={title}>

{intro && (
  <p>{intro}</p>
)}

{body.length > 0 && (
  <PortableText value={body} />
)}

</Layout>
