---
import { client } from "../utils/sanity-client";
import { PortableText } from "astro-portabletext";
import Layout from "../layouts/Layout.astro";

const foodPage = await client.fetch(
  `*[_type == "foodPage"][0]`
);

const title = foodPage?.title ?? "Food";
const intro = foodPage?.intro ?? "";
const body = foodPage?.body ?? [];
---

<Layout title={title}>

<h1>{title}</h1>

{intro && (
  <p>{intro}</p>
)}

{body.length > 0 && (
  <PortableText value={body} />
)}

</Layout>