---
import { client } from "../utils/sanity-client";
import { PortableText } from "astro-portabletext";
import Layout from "../layouts/Layout.astro";

const recreationfuturesPage = await client.fetch(
  `*[_type == "recreationFuturesPage"][0]`
);

const title = recreationfuturesPage?.title ?? "Recreation Futures Lab";
const intro = recreationfuturesPage?.intro ?? "";
const body = recreationfuturesPage?.body ?? [];
---

<Layout title={title}>

<h1>{title}</h1>

{intro && (
  <p>{intro}</p>
)}

{body.length > 0 && (
  <PortableText value={body} />
)}

</Layout>