---
import { client } from "../utils/sanity-client";
import { PortableText } from "astro-portabletext";
import Layout from "../layouts/Layout.astro";

const teachingPage = await client.fetch(
  `*[_type == "teachingPage"][0]`
);

const title = teachingPage?.title ?? "Teaching";
const intro = teachingPage?.intro ?? "";
const body = teachingPage?.body ?? [];
---

<Layout title={title}>

<h1>{title}</h1>

{intro && (
  <p>{intro}</p>
)}

{body.length > 0 && (
  <PortableText value={body} />
)}

</Layout>